{{!-- Plantilla del correo electrónico para recuperar contraseña --}}
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hola {{name}},</p>
        <p>Te escribimos porque has perdido tu contraseña.</p>
        <p>Para recuperar tu cuenta de usuario, haz click en el siguiente link para asignar una nueva contraseña.</p>
        <a href="http://{{link}}">Resetear contraseña</a>
    </body>
</html>